*~
output/
/mtrace.out
/mtrace.txt
/mscan.out
/mscan.sorted
/mscan.syms
/mscan.kern
config.mk
/.passwd.*
.gdb_history
cscope.out
cscope.files
tags
bin/hello.cc
mscan.*.out
*.swp
*.log
cscope.*
/libutil/testgen.c
/libutil/testgen.*.c
/git
